# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Morris/.vs/Morris/v15/ipch/AutoPCH/90b10a9b188558b0/MORRIS.ipch
Morris/.vs/Morris/v15/Browse.VC.opendb
Morris/.vs/Morris/v15/Browse.VC.db
